<div class="container-fluid row">
  <div class="col-sm-4 col-md-4 col-lg-4">&nbsp;</div>  
  <div class="col-sm-4 col-md-4 col-lg-4">
    <%= form_for :session, url: sign_in_path do |f| %>
    
      <div class="field">
        <div class="col-sm-12 col-md-12 col-lg-12 ">&nbsp;</div>
        <%= f.label :email, class: "control-label" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>     
      </div>
      <div class="field">
        <div class="col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
        <%= f.label :password, class: "control-label" %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
          <div class="col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
          <% if notice %>
            <div class="col-sm-12 col-md-12 col-lg-12 alert alert-danger" role="alert"><p id="notice"><%= notice%></p></div>
          <%end%>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
        <%= button_tag(type: 'submit', class: "btn btn-success") do %>
         <i class="icon material-icons md-18">input</i> Log in
        <% end %>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 text-right">
          <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
        </div>
      </div>
    <% end %>
    <div class="col-sm-12 col-md-12 col-lg-12">&nbsp;</div> 
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">&nbsp;</div>
</div>
