<div class="container-fluid row">
  <div class="col-sm-12 col-md-12 col-lg-12 text-center">
    <div class="col-sm-4 col-md-4 col-lg-4">&nbsp;</div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <h2>Listing contacts</h2>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">&nbsp;</div>  
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">&nbsp;</div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <table class="table">
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Operações</th>
      </tr>
      <% @contatos.each do |contato| %>
        <tr>
          <td><%= contato.nome %></td>
          <td><%= contato.telefone %></td>
          <td>
            <div class="member_action">
              <%= link_to 'Edit', contatos_edit_path(contato), class: "btn btn-light" %>
              <%= link_to "Destroy", @contato, method: :delete, class: "btn btn-light"%>  
            </div>
          </td>
        </tr>
      <% end %>
    </table>
    <%= link_to 'New Contact', contatos_new_path, class: "btn btn-success" %>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">&nbsp;</div>
</div>
