<div class="container-fluid row">
  <div class="col-sm-4 col-md-4 col-lg-4">&nbsp;</div>  
  <div class="col-sm-4 col-md-4 col-lg-4">
    <%= form_with(model: contato, local: true) do |form| %>
      <div class="field">
        <div class="col-sm-12 col-md-12 col-lg-12 ">&nbsp;</div>   
        <%= form.label :nome, class: "control-label"%>
        <%= form.text_field :nome, class: "form-control"%>
      </div>
      <div class="field">
        <div class="col-sm-12 col-md-12 col-lg-12">&nbsp;</div>        
        <%= form.label :telefone, class: "control-label" %>
        <%= form.text_field :telefone, class: "form-control"%>
      </div>
      <div class="actions">
        <div class="col-sm-12 col-md-12 col-lg-12">&nbsp;</div> 
        <%= button_tag(type: 'submit', class: "btn btn-success") do %>
          <i class="icon material-icons md-18">save</i> Save
        <% end %>
        <%= link_to '<span class="btn btn-light"><i class="material-icons md-18">reply</i> Back</span>'.html_safe, contatos_path %>
      </div>
    <% end %>
    <div class="col-sm-12 col-md-12 col-lg-12">&nbsp;</div> 
    <% if @contato.errors.any? %>
      <div id="error_explanation">
        <ul class="list-group">
         <% @contato.errors.full_messages.each do |message| %>
         <li class="list-group-item list-group-item-danger"><%= message %></li>
         <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">&nbsp;</div>
</div>

